<!-- 回车也是文本节点 -->
<div id="app">
	<input type="text" v-model="text">
	<div v-text="text"></div>
	<div v-html="html"></div>
	<div> 
		<div>{{ text }}</div>
		<div>
			<input type="text" v-model="text">
			<div v-text="text"></div>
			<div v-html="html"></div>
		</div>
	</div>
	{{ text }}
	<div>
		<button v-on:click="clickHandler">button</button>
	</div>
</div>
<script type="module">
	import { Vue } from '../vue.js';
	var vm = new Vue({
		el: '#app',
		data: {
			text: 'hello world',
			html: '<h3>hello world</h3>'
		},
		methods: {
			clickHandler () {
				alert('click');
				this.text = 'hello world Ha Ha!';
			}
		}
	});
</script>